<!DOCTYPE html>
<html>
<head>
<style>
              body{
                  background-image:url("/bg1.jpg");
                  background-size:100% 100%;
                  background-repeat:no-repeat;
                  height:100%;
                  background-position: center;
                  background-repeat: no-repeat;
                  background-size: cover;
              }
</style>
</head>
<body>
<div class="Arrangecontent22">
      <p class="Newusers-title">SIGN IN</p>
            <section class="newuser">
              <%= form_with url: sessions_path do |form| %>
                    <div class="Form-section">
                        <p class="FormInput-label">Email ID </p>
                        <%= form.email_field :email,
                                  class: "form-data"
                        %>
                    </div>
                    <div class="Form-section">
                        <p class="FormInput-label">Password </p>
                        <%= form.password_field :password,
                                        class: "form-data"
                        %>
                    </div>
      <div class="Form-section">
                <%= form.submit "Sign-In", class: "form-submit"%>
      </div>
    <% end %>
  </section>
</div>
<p class="Info">STAY HOME STAY SAFE</p>
</body>
</html>
