<main class="TodoPageMain">
    <article>
         <%= link_to "Sign-Out",destroy_session_path,method: "delete",class:"Signoutdelete"%>
         <br/>
         <br/>
        <%= form_with(url: "/menus",method: "GET") do %>
                     <input type='button'
                            value="View Sessional Orders"
                            class="Processorder"
                            alt="Add items"
                            onClick="this.form.submit()"   >
        <%end%>
        <br />
         <%= form_with(url: "/ownerhome",method: "GET") do %>
                          <input type='button'
                                 value="Back To Home"
                                 class="Processorder"
                                 alt="Add items"
                                 onClick="this.form.submit()"   >
                 <%end%>
       <h1 class="Additems-title">REPORT</h1>
       <%= render partial:"stats-section",locals: {
                    section_title: "User Statistical Report :",
                    items: User.all,
                    show_billamount:false
              }%>

    </article>
</main>
